{% extends "base.html" %}

{% block css %}
<style>
    body {
        background-color: #ccc;
    }
    #viewport {
        padding-bottom: 62px;
    }
    .table>tbody>tr>td {
        padding: 4px;
    }
    .event {
        color: #ddd;
        padding: 0 15px;
        padding-left: 30px;
        text-indent: -15px;
        font-family: monaco,monospace,courier,'courier new','Bitstream Vera Sans Mono';
        line-height: 140%;
        font-size: 13px;
    }
    .project {
        color: rgb(37, 140, 205);
        background-color: #262626;
    }
    .tags {
        background-color: #262626;
    }
    .tags a{
        color: rgb(181, 137, 0);
    }
    .message {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 62px;
        background-color: #333;
    }
    #footer form {
        padding-top: 9px;
    }
    #footer label {
        color: #ddd;
    }
    #qTxt {
        width: 400px;
    }
    #limitTxt {
        width: 80px;
    }
    #searchBtn {
        width: 150px;
    }
    .label > a:not(.btn) {
        color: inherit;
        text-decoration: inherit;
    }
</style>
{% endblock %}
{% block container %}
<div id="viewport">
    <table class="table">
        <thead>
            <tr>
                <th>DateTime</th>
                <th>Project</th>
                <th>User</th>
                <th>Message</th>
                <th>Tags</th>
            </tr>
        </thead>
        <tbody>
            {% for log in logs %}
                <tr>
                    <td>{{ log.created_on|date:'M d H:i:s' }}</td>
                    <td>
                        <a href="?project_name={{ log.project }}"><span class="label label-primary">{{ log.project }}</span></a>
                    </td>
                    <td><a href="?user_username={{ log.user.username }}">{{ log.user }}</a></td>
                    <td>{{ log.message }}</td>
                    <td>
                        {% for tag in log.tags.all %}
                            <span class="label label-default"><a href="?q={{ tag }}">{{ tag }}</a></span>
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div id="footer" style="padding-top: 9px; padding-left: 9px; padding-right: 9px;">
    {% for activity_log_filter in activity_log_filters %}
        <a href="{{ activity_log_filter.url }}" class="btn btn-primary">{{ activity_log_filter }}</a>
    {% endfor %}
</div>
{% endblock container %}

{% block script %}
<script>
</script>
{% endblock script %}