{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
    body {
        background-color: #111;
    }
    #viewport {
        padding-bottom: 62px;
    }
    .event {
        color: #ddd;
        padding: 0 15px;
        padding-left: 30px;
        text-indent: -15px;
        font-family: monaco,monospace,courier,'courier new','Bitstream Vera Sans Mono';
        line-height: 140%;
        font-size: 13px;
    }
    .project {
        color: rgb(37, 140, 205);
        background-color: #262626;
    }
    .tags {
        background-color: #262626;
    }
    .tags a{
        color: rgb(181, 137, 0);
    }
    .message {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 62px;
        background-color: #333;
    }
    #footer form {
        padding-top: 9px;
    }
    #footer label {
        color: #ddd;
    }
    #qProject {
        width: 120px;
    }
    #qTxt {
        width: 400px;
    }
    #limitTxt {
        width: 80px;
    }
    #searchBtn {
        width: 150px;
    }
</style>
{% endblock %}
{% block container %}
<div id="viewport">
    <ul id="logArea" class="list-unstyled">
            
        {% for log in logs %}
            <li class="event" data-id="{{ log.id }}">
                <time>{{ log.created_on|date:'M d H:i:s' }}</time>
                <span class="project">{{ log.project.name }}:</span>
                <span class="tags">{% for tag in log.tags.all %}<a href="#" class="tag">{{ tag }}</a>{% if not forloop.last %},{% endif %}{% endfor %}</span>
                <span class="message"><a href="?group_uid={{ log.group_uid }}"><span class="glyphicon glyphicon-tags" style="display: inline;"></span></a> {% if log.attachment %}<a href="{% url 'attachment' log.pk %}" target="_blank"><img src="{% static "images/attach.png" %}" /></a>{% endif %} {{ log.level }} {{ log.message }}</span>
            </li>
        {% endfor %}

    </ul>
</div>
<div id="footer">
    <form action="" class="form-inline">
        <div class="form-group">
            <input type="text" name="q_project" id="qProjectTxt" class="form-control" placeholder="Project" value="{{ q_project }}" />
        </div>
        <div class="form-group">
            <input type="text" name="q" id="qTxt" class="form-control" placeholder="Input keyword (seperated with comma)" value="{{ q }}" />
        </div>
        <div class="form-group">
            <input type="datetime" name="start_date" id="startDateTxt" class="form-control" placeholder="Start (Y-m-d H:m:s)" value="{% if start_date %}{{ start_date }}{% endif %}" />
        </div>
        <div class="form-group">
            <input type="datetime" name="stop_date" id="stopDateTxt" class="form-control" placeholder="Stop (Y-m-d H:m:s)" value="{% if stop_date %}{{ stop_date }}{% endif %}" />
        </div>
        <div class="form-group">
            <input type="text" name="limit" id="limitTxt" class="form-control" placeholder="Limit" value="{{ limit }}" />
        </div>
        <button id="searchBtn" class="btn btn-primary">Search</button>
        {# <a href="#" class="btn btn-danger">Purge</a> #}
    </form>
</div>
{% endblock container %}

{% block script %}
<script>
    var isRealtime = {% if is_realtime %}true{% else %}false{% endif %};
</script>
<script>

Array.prototype.contains = function(obj) {
    var i = this.length;
    while (i--) {
        if (this[i] === obj) {
            return true;
        }
    }
    return false;
};

    fetchSockLog = function() {
        var sock = new SockJS(':8080/ws/log');
        sock.onopen = function() {
            console.log('socket opened.');
            var latestID = $('.event:last').data('id');
            var data = {
                'latest_id': latestID,
                'project_name': '{{ q_project }}',
                'q': '{{ q }}',
            };
            sock.send(JSON.stringify(data));
        };
        sock.onmessage = function(e) {
            // console.log('message', e.data);
            var data = JSON.parse(e.data);

            if(data.error) {
                console.log(data.error);
            }

            if(data.success === undefined) {
                var isBottom = $(window).scrollTop() + $(window).height() == $(document).height();
                for(var index in data.logs) {
                    var log = data.logs[index];
                    appendLog(log);
                }
                if(isBottom) {
                    var height = $("#logArea")[0].scrollHeight;
                    // $('html,body').animate({ 'scrollTop': height+"px" });   
                    $('html,body').scrollTop(height);
                }
            }
            else {
                console.log('re-sending message.')
                var latestID = $('.event:last').data('id');
                var data = {
                    'latest_id': latestID,
                    'project_name': '{{ q_project }}',
                };
                sock.send(JSON.stringify(data));
            }
        };
        sock.onclose = function() {
            console.log('close');
        };

        // sock.close();
    };

    appendLog = function(log) {
        var tags = [];
        for(var tag_index in log.tags) {
            var tag = log.tags[tag_index];
            tags.push('<a href="#" class="tag">'+ tag +'</a>');
        }
        var attachment_html = '';
        if(log.attachment) {
            attachment_html = '<a href="' + log.attachment + '" target="_blank"><img src="{% static "images/attach.png" %}" /></a>';
        }
        var tags_html = '<span class="tags">' + tags.join() + '</span>';
        var html = '<li class="event" data-id="'+log.id+'">'+
        '<time>'+ log.created_on +'</time> '+
        '<span class="project">'+ log.project_name +':</span> ' +
        tags_html +
        ' <span class="message">' + attachment_html + ' ' + log.level +' '+ log.message +'</span>' +
        '</li>';
        $('#logArea').append(html);
    };

    fetchLog = function() {
        var latestID = $('.event:last').data('id');
        var params = {
            'latest_id': latestID,
        };
        var settings = {
            url: '/ajax/log/',
            data: params,
            success: function(data) {
                if(!data.success) {
                    if(data.type == 'login_required') {
                        window.location.href = '/accounts/login/';
                    }
                    return;
                }
                for(var index in data.logs) {
                    var log = data.logs[index];
                    var tags = [];
                    for(var tag_index in log.tags) {
                        var tag = log.tags[tag_index];
                        tags.push('<a href="#" class="tag">'+ tag +'</a>');
                    }
                    var tags_html = '<span class="tags">' + tags.join() + '</span>';
                    var html = '<li class="event" data-id="'+log.id+'">'+
                    '<time>'+ log.created_on +'</time> '+
                    '<span class="project">'+ log.project_name +':</span> ' +
                    tags_html +
                    ' <span class="message">' + log.level +' '+ log.message +'</span>' +
                    '</li>';
                    $('#logArea').append(html);
                }
            },
            complete: function() {
                fetchLog();
            },
            dataType: 'json',
        };
        $.ajax(settings);
    };

    $(function(){
        if(isRealtime) {
            fetchSockLog();
            // fetchLog();
        }
        $('html, body').animate({ scrollTop: $('#logArea').prop("scrollHeight") });

        $('body').on('click', '.tag', function(){
            var tagName = $(this).text();
            var qVal = $('#qTxt').val();
            if(!qVal) {
                $('#qTxt').val(tagName);
            }
            else {
                var vals = qVal.split(',');
                if(!vals.contains(tagName))
                    $('#qTxt').val(qVal + ',' + tagName);
            }
            return false;
        });
    });
</script>
{% endblock script %}
