{% extends "base.html" %}
{% load static %}
{% block css %}
<style>
    body {
        background-color: #ddd;
    }
    #viewport {
        padding-bottom: 62px;
    }
    .event {
        color: #ddd;
        padding: 0 15px;
        padding-left: 30px;
        text-indent: -15px;
        font-family: monaco,monospace,courier,'courier new','Bitstream Vera Sans Mono';
        line-height: 140%;
        font-size: 13px;
    }
    .project {
        color: rgb(37, 140, 205);
        background-color: #262626;
    }
    .tags {
        background-color: #262626;
    }
    .tags a{
        color: rgb(181, 137, 0);
    }
    .message {
        white-space: pre-wrap;
        word-wrap: break-word;
    }
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 62px;
        background-color: #333;
    }
    #footer form {
        padding-top: 9px;
    }
    #footer label {
        color: #ddd;
    }
    #qTxt {
        width: 400px;
    }
    #limitTxt {
        width: 80px;
    }
    #searchBtn {
        width: 150px;
    }
    h1 {
        border-bottom: 1px solid #888;
        margin-bottom: 5.5px;
        padding-bottom: 5px;
    }
    pre {
        background: none;
        border: 0;
    }
</style>
{% endblock %}
{% block container %}
<div id="viewport">
    <h1>
        {{ log.level }} {{ log.message }}
        <div class="pull-right"> 
            <a href="{% url 'preview' log.pk %}" class="btn btn-info">Preview</a> 
            <a href="{{ log.attachment.url }}" class="btn btn-primary">Download</a>
        </div>
    </h1>
    <pre>{{ source }}</pre>
</div>
{% endblock container %}

{% block script %}
{% endblock script %}